# node_modules
node_modules/
client/node_modules/
server/node_modules/

# Next.js build output
.next/
client/.next/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*

# Production builds
dist/
build/
client/out/
server/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
Thumbs.db
*.pem

# IDEs
.vscode/
.idea/
